@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

@import "tailwindcss";
@import "./pages/index.css";
@import "./pages/visit-us.css";
@import "./pages/collection.css";
@import "./pages/egypt.css";

@theme {
    --font-instrument-serif: "Instrument Serif", serif;
    --font-instrument-sans: "Instrument Sans", sans-serif;
    --font-mono: "Intel One Mono", monospace;
    --font-caesar: "Caesar Dressing", monospace;
    --font-inika: "Inika", serif;
    --font-brush: "Water Brush", cursive;
}

#hero-canvas {
    opacity: 0.6;
}

nav a:not(#brand):hover {
    @apply font-semibold;
}

.bg-shadow {
    @apply bg-black/40;
    @apply blur-3xl;
    @apply rounded-full;
}

::-webkit-scrollbar {
  display: none;
}

.exhibit-card {
    @apply rounded-2xl bg-white/5 backdrop-blur-md border border-white/10
           transition duration-300
           group-hover:scale-105;
}

html {
  scroll-behavior: smooth;
}

body {
    width: fit-content;
}

#intro-video {
    transition: filter 2s ease
}

.freeze{
    filter:
        grayscale(100%)
        brightness(50%)
        contrast(1.15);
}
