.p_node{
    height: 6px;
    width: 6px;
    transform: rotate(45);
    border-radius: 1px;
    border: 1.5px solid rgb(255, 0, 0);
}

.p_node .visited{
    background-color: red;
    border-color: azure;
}

.p_node .current{
    background-color: black;
    border-color: blue;
}

.p_line{
    height: 1px;
    background: repeating-linear-gradient();
    min-height: 4px;
}

